.product{
    display: flex;
    border-bottom: 1px solid lightgray;
    margin-right: 5px;
    padding-bottom: 5px;
}
.product-name{
    color: rgb(0, 0, 255);
    font-weight: 400;
    font-size: 16px;
    font-family: sans-serif;
}
.product-detail{
    margin-left: 20px;
}
.btn-regular{
    background-color: goldenrod;
    width: 150px;
    height: 25px;
    border: 1px solid gray;
    border-radius: 5px;
    cursor: pointer;
}
.rating-icon{
    color: rgb(245, 208, 0);
    padding-bottom: 15px;
    margin-left: 3px;
}